name: Build and Push to ECR

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    # Build DB Image
    - name: Build and Push DB
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_DB }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest ./db
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

    # Build App Image
    - name: Build and Push App
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_APP }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest ./webapp
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
